# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsidx
*.lock
*.suo
*.db
*.ipch
*.sbr
*.tlog
*.ipdb
*.bsc
*.log
*.iobj
*.pdb
BlockKernelBruteforcer/x64/Release/BlockKernelBruteforcer.vcxproj.FileListAbsolute.txt
